@model Notes.Models.Note

@{
    ViewData["Title"] = "Notes";
}

<div class="container row p-0 m-0">
    <div class="col-10 mt-5 pl-3">
        <h2 class="text-info">Note Title</h2>
    </div>
    <div class="col-2 mt-5 pr-3">
        <a type="button" class="btn btn-info form-control text-white">Back</a>
    </div>
    <div class="col-6 mt-5">
        <p>Note text will go here</p>
    </div>
    <div class="col-6"></div>
</div>